/* # STILIZZIAMO IL CAROSELLO */

#carousel {
    width: 1000px;
    height: 500px;

    border: 2px solid red;
}

/* 
Se qui non avessi dato l'height 100% avrebbe sbordato
il figure
*/

img {
    width: 100%;
    height: 100%;
}

/* STILIZZIAMO LE FRECCETTE */

#carousel .fa-chevron-left {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    right: 103%;
    cursor: pointer;
    color: black;
}

#carousel .fa-chevron-right {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: 103%;
    cursor: pointer;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
    color: dodgerblue;
}